body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}
